.slds-modal__footer--stcky{
   /* border-radius: 0 0 2px 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: red;
    padding: 4px 6px;
    height: 56px;
    width: 100%;*/
    /*position: sticky;
  bottom: 0;
  background-color: inherit; /* [1] 
  z-index: 1055;  [2] */
  clear:both;
  height:130px;
  background-color: green;

 
  }